@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

#vision-about{
    display: flex;
    font-size: 30px;
    font-family: 'Karma',sans-serif;
    margin-left: 9%;

}

.mission-text{
    width:70%;
    flex-wrap: wrap;
    
}

.vision-text{
    width:90%;
    flex-wrap: wrap;
    margin-left: -63px;
   
}

#mission-image{
    margin-left: 10%;
    width: 650px;
    height: 319;
}
#vision-image{
    margin-left: -74px;
    width: 518px;
    height: 319;
}

@media screen and (min-width:280px) and (max-width:380px){
    #vision-about{
        display: block;
        margin-left: 2.5%;
        font-size: 17px;
        margin-top: 5%;
        font-family: 'Karma',sans-serif;
        margin-bottom: 8%;
    
    }

    .mission-text{
        width:87%;
        margin-left: 23px;
        flex-wrap: wrap;
        
    }

    .vision-text{
        width:85%;
        flex-wrap: wrap;
        margin-left: 23px;
       
    }

    #mission-image{
        margin-left: 23%;
        width: 217px;
        height: 183px;
    }

    #vision-image{
        margin-left: 20%;
        width: 187px;
        margin-top: 15px;

    }

}

@media screen and (min-width:390px) and (max-width:414px){
    #vision-about{
        display: block;
        margin-left: -3.5%;
        font-size: 20px;
        margin-top: 5%;
        font-family: 'Karma',sans-serif;
        margin-bottom: 8%;
    
    }

    .mission-text{
        width:80%;
        margin-left: 50px;
        flex-wrap: wrap;
        
    }

    .vision-text{
        width:80%;
        flex-wrap: wrap;
        margin-left: 50px;
       
    }

    #mission-image{
        margin-left: 25%;
        width: 264px;
        height: 213px;
    }

    #vision-image{
        margin-left: 25%;
        width: 210px;
        height: 213px;
        margin-top: 63px;
    }

}

@media screen and (min-width:415px) and (max-width:450px){
    #vision-about{
        display: block;
        margin-left: -3.5%;
        font-size: 20px;
        margin-top: 16%;
        font-family: 'Karma',sans-serif;

    
    }

    .mission-text{
        width:80%;
        margin-left: 63px;
        flex-wrap: wrap;
        
    }

    .vision-text{
        width:80%;
        flex-wrap: wrap;
        margin-left: 60px;
       
    }

    #mission-image{
        margin-left: 27%;
        width: 264px;
        height: 213px;
    }

    #vision-image{
        margin-left: 28%;
        width: 210px;
        height: 213px;
        margin-top: 15%;
    }

}

@media screen and (min-width:460px) and (max-width:560px){
    #vision-about{
        display: block;
        margin-left: 0%;
        font-size: 23px;
        margin-top: 5%;
        font-family: 'Karma',sans-serif;
        margin-bottom: 10%;

    
    }

    .mission-text{
        width:120%;
        margin-left: 10%;
        flex-wrap: wrap;
        
    }

    .vision-text{
        width:120%;
        flex-wrap: wrap;
        margin-left: 10%;
       
    }

    #mission-image{
        margin-left: 43%;
        width: 367px;
    }

    #vision-image{
        margin-left: 43%;
        width: 310px;
    }

}

@media screen and (min-width:670px) and (max-width:780px){
    #vision-about{
        display: block;
        margin-left: -7%;
        font-size: 25px;
        margin-top: 5%;
        font-family: 'Karma',sans-serif;

    
    }

    .mission-text{
        width:80%;
        margin-left: 115px;
        flex-wrap: wrap;
        
    }

    .vision-text{
        width:75%;
        flex-wrap: wrap;
        margin-left: 125px;
       
    }

    #mission-image{
        margin-left: 37%;
        width: 45%;
        height: 40%;
    }

    #vision-image{
        margin-left: 35%;
        width: 38%;
        height: 38%;
    }

}

@media screen and (min-width:790px) and (max-width:890px){
    #vision-about{
        display: block;
        margin-left: -10%;
        font-size: 25px;
        margin-top: 5%;
        font-family: 'Karma',sans-serif;
        margin-bottom: 33px;
    
    }

    .mission-text{
        width:75%;
        margin-left: 160px;
        flex-wrap: wrap;
        
    }

    .vision-text{
        width:75%;
        flex-wrap: wrap;
        margin-left: 155px;
       
    }

    #mission-image{
        margin-left: 36%;
        width: 400px;
    }

    #vision-image{
        margin-left: 36%;
        width: 330px;
        margin-top: 10%;
    }

}

@media screen and (min-width:900px) and (max-width:1000px){
    #vision-about{
        display: block;
        margin-left: -3.5%;
        font-size: 30px;
        margin-top: 5%;
        font-family: 'Karma',sans-serif;
        margin-bottom: 5%;

    
    }

    .mission-text{
        width:80%;
        margin-left: 11%;
        flex-wrap: wrap;
        
    }

    .vision-text{
        width:80%;
        flex-wrap: wrap;
        margin-left: 11%;
       
    }

    #mission-image{
        margin-left: 33%;
        width: 420px;
    }

    #vision-image{
        margin-left: 32%;
        width: 360px;
        margin-top: 10%;
    }

}

@media screen and (min-width:1020px) and (max-width:1280px){
    #vision-about{
        display: flex;
        margin-left: -3.5%;
        font-size: 23px;
        font-family: 'Karma',sans-serif;
        margin-bottom: 5%;
    }

    .mission-text{
        width:70%;
        margin-left: 18%;
        flex-wrap: wrap;
    }

    .vision-text{
        width:90%;
        flex-wrap: wrap;
        margin-left: -22px;
        margin-top: -4px;
    }

    #mission-image{
        margin-left: 30%;
        width: 350px;
    }

    #vision-image{
        margin-left: 5%;
        width: 280px;
        margin-top: 5px;
    }

}

@media screen and (min-width:1280px) and (max-width:1400px){
    #vision-about{
        display: flex;
        margin-left: 10px;
        font-size: 30px;
        margin-top: 5%;
        font-family: 'Karma',sans-serif;
        margin-bottom: 5%;

    
    }

    .mission-text{
        width:65%;
        margin-left: 15%;
        flex-wrap: wrap;
        margin-top: 12px;
        
    }

    .vision-text{
        width:90%;
        flex-wrap: wrap;
        margin-left: -75px;
        margin-top: 5px;
    }

    #mission-image{
        margin-left: 30%;
        /* width: 23%;  */
    }

    #vision-image{
        margin-left: 7%;
        margin-top: 5px;
        /* width: 18%; */
    }

}

