#pic{
    height: 150px;
     border-radius: 50%;
     margin-top: -27%;
  }
  #team{
     background-color: #2A88BD;
     width: 100%;
  }
  #team-photos{
     display: flex;
     gap:5%;
     height: 300px;
  }
  #team-title{
    text-align:center;
    color: #fff;
  }
  #team-figcap{
     margin-top: 20%;
     margin-left: 91px;
  }
  #figcap-text{
     color:#fff;
     font-size: 18px;
     margin-left: 15px;
     margin-top: 8%;
     font-style: oblique;
  }
  @media screen and (min-width:280px) and (max-width:412px){
   #team-photos{
     display: block;
     flex-wrap: wrap;
     margin-left: 4%;
     background-color: #2A88BD;
     height: 130%;
   }
   #pic{
     height: 100px;
  }
  #team{
  width:104%;
  }
  #figcap-text{
   font-size: large;
   margin-left: -3%;
  }
  #team-figcap{
   margin-top: 20%;
   margin-left: 91px;
   font-size: xx-small;
  }
  #team-title{
   text-align:center;
   font-size: xx-large;
  }
  }
  @media screen and (min-width:414px) and (max-width:556px){
   #team-photos{
     display: flex;
     flex-wrap: wrap;
     height: 126%;
     margin-left: 8%;
   }
   #team-title{
     text-align:center;
     font-size: xx-large;
   }
   #team{
     width: 176%;
    }
    #pic{
        height: 100px;
     }
     #figcap-text{
        font-size: larger;
        margin-left: -3%;
      }
  }
  @media screen and (min-width:557px) and (max-width:739px){
    #team{
      width: 248%;
     }
     #team-photos{
      display: flex;
      flex-wrap: wrap;
      height: 150%;
      margin-left: 9%;
    }
    #figcap-text{
     font-size: xx-large;
   }
   #pic{
     height: 160px;
  }
  #team-title{
     font-size: xx-large;
   }
  }
  @media screen and (min-width:740px) and (max-width:886px){
   #team{
     width: 131%;
    }
    #team-photos{
     display: flex;
     flex-wrap: wrap;
     height: 150%;
     margin-left: 9%;
   }
   #figcap-text{
    font-size: larger;
  }
  #pic{
    height: 160px;
  }
  #team-title{
    font-size: xx-large;
  }
  }
  @media screen and (min-width:887px) and (max-width:1100px){
   #team-photos{
     display: flex;
     flex-wrap: wrap;
     margin-left: 5%;
     gap: 0px;
     height: 120%;
   }
   #team{
     width: 119%;
   }
  }
  @media screen and (min-width:1101px) and (max-width:1300px){
   #team{
     width: 158%;
   }
   #team-photos{
     display: flex;
     gap: 3%;
     flex-wrap: wrap;
      height: 140%;
      margin-left: 2%;
   }
  }
  @media screen and (min-width:1301px) and (max-width:1400px){
  #team{
    width: 119%;
  }
  #team-photos{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
     height: 140%;
     margin-left: 2%;
  }
  #figcap-text{
    font-size: larger;
  }
  }