#footer {
    gap: 11%;
    color: #fff;
    background-color: #2C2E35;
    margin-top: -1.1%;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #footer-text {
    display: flex;
    flex-direction: row;
    gap: 250px;
    /* margin-left: 5%; */
    margin-top: 2%;
    font-size: large;
  }
  #logofooter{
    height:170px;
    width: 170px;
    margin-top: 2%;
    margin-left: 3%;
  }
  @media screen and (min-width: 280px) and (max-width: 412px) {
    #footer {
      margin-top: -6%;
      width: 104%;
      display: block;
      /* flex-direction: column; */
    }
    #footer-text {
      display: block;
      gap: 2px;
      margin-top: 5%;
      margin-left: 31%;
      font-size: large;
    }
    #logofooter{
      margin-left: 23%;
      margin-top: 5%;
    }
  }
  @media screen and (min-width: 414px) and (max-width: 556px) {
    #footer {
      margin-top: -3%;
      width: 177%;
      gap: 5%;
    }
    #footer-text {
      display: flex;
      flex-direction: row;
      margin-top: 3%;
      gap: 3%;
    }
    #logofooter{
      margin-left: 2%;
      margin-top: 5%;
    }
  }
  @media screen and (min-width: 557px) and (max-width: 739px) {
    #footer {
      width: 248%;
      gap: 1px;
    }
    #footer-text {
      margin-left: 6%;
      font-size: large;
      display: flex;
      gap: 30%;
      margin-left: 9%;
    }
    #logofooter{
      margin-left: 10%;
      }
  }
  @media screen and (min-width: 740px) and (max-width: 886px) {
    #footer {
      width: 131%;
      gap: 1%;
    }
    #footer-text {
      margin-left: 6%;
      font-size: large;
      display: flex;
      gap: 10%;
      margin-left: 1%;
    }
  }
  @media screen and (min-width: 887px) and (max-width: 1100px) {
    #footer {
      width: 119%;
      gap: 4%;
    }
    #footer-text {
      margin-left: 3%;
      font-size: small;
      display: flex;
      gap: 23%;
    }
  }
  @media screen and (min-width: 1101px) and (max-width: 1300px) {
    #footer {
      width: 158%;
      gap: 6%;
    }
    #footer-text {
      margin-left:1%;
      font-size: larger;
      display: flex;
      gap: 20%;
    }
    #logofooter{
     width: 200px;
     height: 200px;
     margin-top: 5%;
      }
  }
  @media screen and (min-width: 1301px) and (max-width: 1400px){
    #footer {
      width: 119%;
      gap: 6%;
    }
    #footer-text {
      margin-left:1%;
      font-size: larger;
      display: flex;
      gap: 20%;
    }
  }