.container{
    background-color: #2a88bb;
    height: 500px;
    flex-wrap: wrap;
    margin-top: 10%;
    position: relative;
    }
    .about-heading{
        position:absolute;
        bottom: 60%;
        left: 40%;
        font-size: 50px;
        color: white;
    }
    .welcome-text{
        position:absolute;
        bottom: 45%;
        left: 19%;
        width: 63.59%;
        flex-wrap: wrap;
    
    }
    .welcome-text p{
        color: white;
        font-size: x-large;
    }
    
    .wezesha-img{
        background-color: white;
        position: absolute;
        top: -20%;
        left: 44.5%;    
        width: 200px;
        height: 200px;
        opacity: 100%;
        text-align: center;
        border-radius: 50%;
    
    }
    
    .wezesha-img img{
        width: 120px;
        margin-top: 20px;
    }
    .ourStory-heading{
        position:absolute;
        bottom:20%;
        left: 44%;
        font-size: 50px;
        color: white;
    }
    .ourStory-text{
        position:absolute;
        bottom: 1%;
        left: 19%;
        width: 65%;
        flex-wrap: wrap;
    }
    .ourStory-text p{
        color: white;
        font-size: x-large;
    }
    
    @media only screen and (min-width: 280px) and (max-width: 359px) {
        .container{
            height: 620px;
            margin-top: 20%;
            }
    
            .wezesha-img{
                top: -8%;
                left: 34%;    
                width: 100px;
                height: 100px;
              
            
            }
            .wezesha-img img{
                width: 50px;
                margin-top: 20px;
            }
            .about-heading{
                bottom: 80%;
                left: 12%;
                font-size: 30px;
            }
            .welcome-text{
                bottom: 52%;
                left: 12%;
                width: 85%;
            
            }
            .welcome-text p{
                font-size: 18px;
            }

            .ourStory-heading{
                bottom:43%;
                left: 12%;
                font-size: 30px;
            }
            .ourStory-text{
                bottom: 1%;
                left: 12%;
                width: 85%;
            }
            .ourStory-text p{
                font-size: 18px;
            }
    }

    @media only screen and (min-width: 360px) and (max-width: 380px) {
        .container{
            height: 650px;
            margin-top: 20%;
            }
    
            .wezesha-img{
                top: -10%;
                left: 34%;    
                width: 130px;
                height: 130px;
              
            
            }
            .wezesha-img img{
                width: 80px;
                margin-top: 20px;
            }
            .about-heading{
                bottom: 78%;
                left: 12%;
                font-size: 30px;
            }
            .welcome-text{
                bottom: 49%;
                left: 12%;
                width: 85%;
            
            }
            .welcome-text p{
                font-size: 20px;
            }

            .ourStory-heading{
                bottom:39%;
                left: 12%;
                font-size: 30px;
            }
            .ourStory-text{
                bottom: 1%;
                left: 12%;
                width: 85%;
            }
            .ourStory-text p{
                font-size: 20px;
            }
    }

    @media screen and (min-width: 381px) and (max-width: 480px) {
        .container{
            height: 650px;
            margin-top: 20%;
            }
    
            .wezesha-img{
                top: -10%;
                left: 34%;    
                width: 130px;
                height: 130px;
              
            
            }
            .wezesha-img img{
                width: 80px;
                margin-top: 20px;
            }
            .about-heading{
                bottom: 78%;
                left: 12%;
                font-size: 30px;
            }
            .welcome-text{
                bottom: 49%;
                left: 12%;
                width: 85%;
            
            }
            .welcome-text p{
                font-size: 20px;
            }

            .ourStory-heading{
                bottom:39%;
                left: 12%;
                font-size: 30px;
            }
            .ourStory-text{
                bottom: 1%;
                left: 12%;
                width: 85%;
            }
            .ourStory-text p{
                font-size: 20px;
            }
    }
    
    @media screen and (min-width: 481px) and (max-width: 580px) {
        .container{
            height: 650px;
            margin-top: 20%;
            }
    
            .wezesha-img{
                top: -10%;
                left: 37%;    
                width: 150px;
                height: 150px;
            
            }
            .wezesha-img img{
                width: 90px;
                margin-top: 20px;
            }
            .about-heading{
                bottom: 75%;
                left: 12%;
                font-size: 35px;
            }
            .welcome-text{
                bottom: 47%;
                left: 12%;
                width: 85%;
            
            }
            .welcome-text p{
                font-size: 25px;
            }

            .ourStory-heading{
                bottom:38%;
                left: 12%;
                font-size: 35px;
            }
            .ourStory-text{
                bottom: 1%;
                left: 12%;
                width: 85%;
            }
            .ourStory-text p{
                font-size: 25px;
            }

    }

    @media screen and (min-width: 681px) and (max-width: 780px) {
        .container{
            height: 650px;
            margin-top: 20%;
            }
    
            .wezesha-img{
                top: -15%;
                left: 37%;    
                width: 200px;
                height: 200px;
            
            }
            .wezesha-img img{
                width: 120px;
                margin-top: 20px;
            }
            .about-heading{
                bottom: 70%;
                left: 10%;
                font-size: 35px;
            }
            .welcome-text{
                bottom: 47%;
                left: 10%;
                width: 85%;
            
            }
            .welcome-text p{
                font-size: 25px;
            }

            .ourStory-heading{
                bottom:33%;
                left: 10%;
                font-size: 35px;
            }
            .ourStory-text{
                bottom: 1%;
                left: 10%;
                width: 85%;
            }
            .ourStory-text p{
                font-size: 25px;
            }
    }

    @media screen and (min-width: 820px) and (max-width: 920px) {
        .container{
            height: 650px;
            margin-top: 20%;
            }
    
            .wezesha-img{
                top: -15%;
                left: 37%;    
                width: 200px;
                height: 200px;
            
            }
            .wezesha-img img{
                width: 120px;
                margin-top: 20px;
            }
            .about-heading{
                bottom: 70%;
                left: 10%;
                font-size: 35px;
            }
            .welcome-text{
                bottom: 47%;
                left: 10%;
                width: 85%;
            
            }
            .welcome-text p{
                font-size: 25px;
            }

            .ourStory-heading{
                bottom:29%;
                left: 10%;
                font-size: 35px;
            }
            .ourStory-text{
                bottom: 1%;
                left: 10%;
                width: 85%;
            }
            .ourStory-text p{
                font-size: 25px;
            }

    }