#mobilepic{
    border-radius: 20%;
    width: 60%;
    margin-left: 10%;
    margin-top: -18%;
}

#product-heading{
    text-align: center;

} 

.about-mobileapp{
    flex-wrap: wrap;
    width: 55%;
    left: 20%;
    margin-top: -8%;
}

#wezesha-mobileapp{
    display: flex;
    margin-top: 15%;
    align-items: center;
    margin-left:10%;
    gap: 2%;
}

#about-portal{
    flex-wrap: wrap;
    width: 50%;
    margin-top: -8%;
}

#wezesha-web-portal{
    display: flex;
    margin-top: 6%;
    align-items: center;
    margin-left: 9%;
    margin-bottom: 2%;
}

#product-info{
    position:absolute;
    margin-left: 9%;
    width: 83%;
    flex-wrap: wrap;
    text-align:left;

}

body{
    font-size: 30px;
    margin-top: -1%;
    margin-bottom: -2%;
}

#web-portal-pic{
    width: 60%;
    margin-top: -18%;
    margin-left: 30%;
}

@media only screen  and (min-width: 280px) and (max-width: 360px) { 
    body{
        font-size: large;
        margin-top: -1%;
        margin-bottom: -2%;
    }

    #wezesha-mobileapp{
        display: block;
        margin-top: 50%;
        margin-left:10%;
        gap: 2%;
    }

    .about-mobileapp{
        flex-wrap: wrap;
        width: 85%;
        left: 20%;
        margin-top: 16%;
    }

    #mobilepic{
        border-radius: 20%;
        width: 85%;
        margin-left: -1%;
        margin-top: 65%;
    }

    #wezesha-web-portal{
        display: block;
        margin-left: 9%;
        margin-top: 30%;
    }

    #web-portal-pic{
        width: 94%;
        margin-left: -2%;
        margin-top: 16%;
    }

    #about-portal{
        flex-wrap: wrap;
        width: 87%;
        margin-top: -8%;
    }

}

@media only screen  and (min-width: 370px) and (max-width: 410px) { 
    body{
        font-size: 23px;
        margin-top: -1%;
        margin-bottom: -2%;
    }

    #wezesha-mobileapp{
        display: block;
        margin-top: 15%;
        margin-left:10%;
        gap: 2%;
    }

    .about-mobileapp{
        flex-wrap: wrap;
        width: 85%;
        left: 20%;
        margin-top: 10%;
    }

    #mobilepic{
        border-radius: 20%;
        width: 85%;
        margin-left: -1%;
        margin-top: 95%;
    }

    #wezesha-web-portal{
        display: block;
        margin-left: 9%;
        margin-top: 20%;
    }

    #web-portal-pic{
        width: 94%;
        margin-left: -2%;
        margin-top: 16%;
    }

    #about-portal{
        flex-wrap: wrap;
        width: 87%;
        margin-top: -8%;
    }

}

@media only screen  and (min-width: 412px) and (max-width: 530px) { 
    body{
        font-size: x-large;
        margin-top: -1%;
        margin-bottom: -2%;
    }

    #wezesha-mobileapp{
        display: block;
        margin-top: 50%;
        margin-left:10%;
        gap: 2%;
    }

    .about-mobileapp{
        flex-wrap: wrap;
        width: 90%;
        left: 20%;
        margin-top: 16%;
    }

    #mobilepic{
        border-radius: 20%;
        width: 85%;
        margin-left: -1%;
        margin-top: 50%;
    }

    #wezesha-web-portal{
        display: block;
        margin-left: 9%;
        margin-top: 30%;
    }

    #web-portal-pic{
        width: 94%;
        margin-left: -2%;
        margin-top: 16%;
    }

    #about-portal{
        flex-wrap: wrap;
        width: 87%;
        margin-top: -8%;
    }


}

@media only screen  and (min-width: 740px) and (max-width: 886px) { 
    body{
        font-size: xx-large;
        margin-top: -1%;
        margin-bottom: -2%;
    }

    #wezesha-mobileapp{
        display: block;
        margin-top: -15%;
        margin-left:10%;
        gap: 2%;
    }

    .about-mobileapp{
        flex-wrap: wrap;
        width: 90%;
        left: 20%;
        margin-top: 16%;
    }

    #mobilepic{
        border-radius: 20%;
        width: 65%;
        margin-left: 10%;
        margin-top: 70%;
    }

    #wezesha-web-portal{
        display: block;
        margin-left: 9%;
        margin-top: 20%;
    }

    #web-portal-pic{
        width: 80%;
        margin-left: -2%;
        margin-top: 10%;
    }

    #about-portal{
        flex-wrap: wrap;
        width: 87%;
        margin-top: -8%;
    }


}

@media only screen  and (min-width: 887px) and (max-width: 950px) { 
    body{
        font-size: xx-large;
        margin-top: -1%;
        margin-bottom: -2%;
    }

    #wezesha-mobileapp{
        display: block;
        margin-top: -25%;
        margin-left:10%;
        gap: 2%;
    }

    .about-mobileapp{
        flex-wrap: wrap;
        width: 90%;
        left: 20%;
        margin-top: 10%;
    }

    #mobilepic{
        border-radius: 20%;
        width: 65%;
        margin-left: 10%;
        margin-top: 70%;
    }

    #wezesha-web-portal{
        display: block;
        margin-left: 9%;
        margin-top: 20%;
    }

    #web-portal-pic{
        width: 80%;
        margin-left: -2%;
        margin-top: 10%;
    }

    #about-portal{
        flex-wrap: wrap;
        width: 87%;
        margin-top: -8%;
    }


}

@media only screen  and (min-width: 540px) and (max-width: 730px) { 
    body{
        font-size: x-large;
        margin-top: -1%;
        margin-bottom: -2%;
    }

    #wezesha-mobileapp{
        display: block;
        margin-top: 20%;
        margin-left:10%;
        gap: 2%;
    }

    .about-mobileapp{
        flex-wrap: wrap;
        width: 90%;
        left: 20%;
        margin-top: 16%;
    }

    #mobilepic{
        border-radius: 20%;
        width: 85%;
        margin-left: -1%;
        margin-top: 50%;
    }

    #wezesha-web-portal{
        display: block;
        margin-left: 9%;
        margin-top: 30%;
    }

    #web-portal-pic{
        width: 94%;
        margin-left: -2%;
        margin-top: 16%;
    }

    #about-portal{
        flex-wrap: wrap;
        width: 87%;
        margin-top: -8%;
    }


}

@media only screen and (min-width: 960px) and  (max-width: 1200px) { 
    body{
        font-size: x-large;
        margin-top: -1%;
        margin-bottom: -2%;
    }

    #wezesha-mobileapp{
        display: flex;
        margin-top: 5%;
        margin-left:10%;
    }

    .about-mobileapp{
        flex-wrap: wrap;
        width: 90%;
        margin-left: -10%;
        margin-top: 16%;
    }

    #mobilepic{
        border-radius: 20%;
        width: 70%;
        margin-left: -10%;
        margin-top: 50%;
    }

    #wezesha-web-portal{
        display: flex;
        margin-left: 6%;
        margin-top:-5%;
    }

    #web-portal-pic{
        width: 80%;
        margin-left: 15%;
        margin-top: 20%;
    }

    #about-portal{
        flex-wrap: wrap;
        width: 87%;
        margin-top: 10%;
    }


}

@media only screen and (min-width: 1200px) and  (max-width: 1300px) { 
    body{
        font-size: x-large;
        margin-top: -1%;
        margin-bottom: -2%;
    }

    #wezesha-mobileapp{
        display: flex;
        margin-top: 5%;
        margin-left:6%;
    }

    .about-mobileapp{
        flex-wrap: wrap;
        width: 80%;
        margin-right: 4%;
        margin-top: 15%;
    }

    #mobilepic{
        border-radius: 20%;
        width: 70%;
        margin-left: -5%;
        margin-top: 40%;
    }

    #wezesha-web-portal{
        display: flex;
        margin-left: 6%;
        margin-top:-5%;
    }

    #web-portal-pic{
        width: 80%;
        margin-left: 15%;
        margin-top: 20%;
    }

    #about-portal{
        flex-wrap: wrap;
        width: 87%;
        margin-top: 10%;
    }


}