#mobilepic{
    border-radius: 20%;
    width: 55%;
    margin-left: 20%;
    margin-top: -18%;
}

#product-heading{
    text-align: center;

} 

.about-mobileapp{
    flex-wrap: wrap;
    width: 60%;
    left: 20%;
    margin-top: -6%;
}

.about-mobileapp{
    flex-wrap: wrap;
    width: 58%;
    left: 20%;
    margin-top: -6%;
}

#wezesha-mobileapp{
    display: flex;
    margin-top: 16%;
    align-items: center;
    margin-left:5%;
    gap: 2%;


}

#wezesha-dashboard{
    display: flex;
    margin-top: 10%;
    align-items: center;
    margin-left: 9%;
    margin-bottom: 5%;
}

#product-info{
    position:absolute;
    margin-left: 9%;
    width: 83%;
    flex-wrap: wrap;
    text-align:left;

}

body{
    font-size: x-large;
    margin-top: 10%;
}

#dashboard-pic{
    width: 75%;
    margin-top: -18%;

}

@media only screen  and (min-width: 280px) and (max-width: 412px) { 
    #mobilepic, #dashboard-pic{
        border-radius: 20%;
        width: 70%;
        margin-left: 7%;
    }

    #wezesha-mobileapp, #wezesha-dashboard{
        display: block;
        margin-top: 5%;
        align-items: center;
        margin-left: 10%;
    }

    .about-mobileapp{
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 10%;
    
    }

}

@media only screen  and (min-width: 414px) and (max-width: 556px) { 
    #mobilepic, #dashboard-pic{
        border-radius: 20%;
        width: 60%;
        margin-left: 10%;
    }

    #wezesha-mobileapp, #wezesha-dashboard{
        display: block;
        margin-top: 5%;
        align-items: center;
        margin-left: 10%;
    }

    .about-mobileapp{
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 10%;
    
    }

}

@media only screen  and (min-width: 740px) and (max-width: 886px) { 
    #mobilepic, #dashboard-pic{
        border-radius: 20%;
        width: 80%;
        margin-left: 10%;
    }

    #wezesha-mobileapp{
        display: flex;
        margin-top: 5%;
        align-items: center;
        margin-left: 10%;
    }

    #wezesha-dashboard{
        display: flex;
        align-items: center;
        margin-right: 10%;
    }

    .about-mobileapp{
        flex-wrap: wrap;
        width: 120%;
        margin-bottom: 10%;
        margin-right: 7%;
    
    }

}
