

.navbar{
    font-size: 20px;
    font-weight: 500;
    gap: 60px;
    display: flex;
    margin: 60px;
    padding: 10px;
    margin-left: 0;
    padding-left: 50%;
   

}
.landingpagecontent{
    margin-left: 4%;
}
.logopicture{
    background-color: white;
    position: absolute;    
    width: 100px;
    height: 120px;
    text-align: center;
    border-radius: 30%;
}
.navbar a {
    text-decoration: none;
}
.heading{
    display: flex;
    margin-left: 5%;
    align-items: center;
}
.wezeshatext{
    text-wrap: wrap;
    width: 40%;
    margin-left: 5%;
    font-size: 30px;
}
.wezeshatexts{
    color: rgb(59, 137, 240);
    text-decoration: none;
    font-weight: 500;
}
.buttons{
 padding: 15% 5px;  
  
}

.downloadButton{
padding: 20px;
margin-top: 20px;
border-radius: 30px;
background-color: rgb(59, 137, 240);
color: white;
border: none;
font-size: 20px;
}
.dashboardButton{
    padding: 20px; 
    margin-left: 20%;
    border-radius: 30px;
    border: solid  rgb(59, 137, 240);
    color: rgb(59, 137, 240);
    font-size: 20px;

}
.wezeshawelcometext{
    display: flex;
    gap: 3%;
    margin-top: 80px;
    
}
.landingpic{
    border-radius: 10%;
    width: 100%;
    height: 500px;
    margin-top: -7%;
    object-fit: cover;
   
}
@media screen and (min-width:280px)and (max-width:400px){

    .navbar{
        font-size: 10px;
        font-weight: 400;
        gap: 60px;
        display: flex;
        flex-wrap: wrap;
       
       
    
    }
    .logopicture{
        /* width: 20px;
        height: 10px;
        margin-left: 5%; */
        margin-top: 30px;
    }
    .navbar a {
        text-decoration: none;
    }
    .heading{
        display: flex;
        
    }
    .wezeshatext{
        font-size: 10px;
    }
    u{
        color: rgb(59, 137, 240);
        text-decoration: none;
        font-weight: 500;
    }
    
    .downloadButton{
    padding: 20px;
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
    }
    .dashboardButton{
        padding: 20px;
        width: 200px;
        margin-top: 20px;
        border-radius: 10px;
    }
    .wezeshawelcometext{
        display: bl;
        gap: 10%;
        
    }
    .landingpic{
        border-radius: 10%;
        object-fit: cover;
       
    }
}